@model Edit库存商品ViewModel
@{
    ViewBag.Title = "新建库存商品";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="vw-new-stock vw-stock-form" data-page-js="newstock">
        @Html.Partial("_Nav")
        <h2>@ViewBag.Title</h2>
        <hr />
        <div class="form" validation-group="submit" autocomplete="off">
            <fieldset>
                <div class="row">
                    <div class="form-group col-12">
                        <label for="IptPicture">商品图片：</label>
                        <input type="url" name="Thumbnails" class="id-Thumbnails form-control" id="TxtThumbnails" />
                        <div>
                            <a class="product-thumbnail-link" target="_blank" style="display: none;">
                                <img class="product-thumbnail" />
                            </a>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <label for="TxtName">商品名称：</label>
                        <input type="text" class="form-control" name="Name" id="TxtName" maxlength="200" />
                    </div>
                    <div class="form-group col-6">
                        <label for="Txt货号">货号：</label>
                        <input type="text" class="id-货号 form-control" name="货号" id="Txt货号" maxlength="50" />
                        <span class="validator" id="vd货号" data-required="" data-validate-target="#Txt货号"><span class="error-message text-danger">此项必填</span></span>
                    </div>
                    <div class="form-group col-6">
                        <label for="Txt规格">规格：</label>
                        <input type="text" class="form-control" name="规格" id="Txt规格" maxlength="200" />
                    </div>
                    <div class="form-group col-6">
                        <label for="Ddl仓库">仓库</label>
                        <select id="Ddl仓库" class="form-control" name="仓库">
                            @foreach (var meta in Model.仓库DataSource)
                            {
                                <option value="@meta.Name">@meta.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-6">
                        <label for="Txt库位">库位：</label>
                        <input type="text" class="form-control" name="库位" id="Txt库位" maxlength="50" />
                    </div>
                    <div class="form-group col-6">
                        <label for="TxtAmount">数量：</label>
                        <input type="number" step="1" min="0" class="form-control" name="Amount" id="TxtAmount" value="0" />
                        <span class="validator" id="vdAmount" data-required="" data-validate-target="#TxtAmount"><span class="error-message text-danger">此项必填</span></span>
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <button type="button" class="btn btn-primary" id="BtnSubmit">创建</button>
            </div>
            <div id="LblOrderNumberExists" class="alert alert-danger hide-when-empty"></div>
        </div>
    </div>

