@model 电话客服ListViewModel
@{
    ViewBag.Title = "电话客服导入";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    <script id="tmplRow" type="x-tmpl-mustache">
        <tr data-id="{{ID}}" data-high-light="{{高亮}}" data-zicai="{{自采}}">
            <td>{{店铺名称}}</td>
            <td>{{JD订单号}}</td>
            <td>
                <a href="{{商品图片}}" target="_blank">
                    <img src="{{商品图片}}" class="product-thumbnail" />
                </a>
            </td>
            <td>{{Str进货日期}}</td>
            <td>{{进货数量}}</td>
            <td>{{采购备注}}</td>
            <td>{{{Baidu来快递单号}}}</td>
            <td>
                <a href="/Order/DianHuaKeFu/{{ID}}" class="btn btn-primary btn-edit" target="_blank">修改电话备注</a>
            </td>
        </tr>
    </script>
}

<div class="vw-import-order vw-order-list" data-page-js="importorders" vm-json="@Model.Json">
    @Html.Partial("_Nav")
    <h2>@ViewBag.Title</h2>
    <hr />
    <div>
        <div class="form" validation-group="default" autocomplete="off">
            <fieldset>
                <div class="form-group">
                    <label for="IptExcel">Excel</label>
                    <input type="file" class="form-control-file" id="IptExcel" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                    <span class="validator" id="vdFile" data-required="" data-validate-target="#IptExcel"><span class="error-message text-danger">此项必填</span></span>
                </div>
            </fieldset>
            <div>
                <button type="button" class="btn btn-primary" id="BtnSubmit">上传</button>
            </div>
            <br />
            <br />
            <a href="/Order/Import" id="LblMessage" class="alert alert-info hide-when-empty"></a>
        </div>
    </div>
    <hr />
    <div class="filters">
        <div class="form" autocomplete="off" id="FormConditions" default-button="#BtnSearch">
            <fieldset>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="TxtJD订单号">JD订单号</label>
                        <input type="text" name="JD订单号" class="form-control" id="TxtJD订单号" autocomplete="off" on-enter />
                    </div>
                    <div class="form-group col-6">
                        <label for="Txt客人地址">客人地址</label>
                        <input type="text" name="客人地址" class="form-control" id="Txt客人地址" autocomplete="off" on-enter />
                    </div>
                    <div class="form-group col-6">
                        <label for="Ddl导入状态">导入状态</label>
                        <select id="Ddl导入状态" class="form-control" name="已导入" data-type="bool">
                            <option value="">全部</option>
                            <option value="true">已导入</option>
                            <option value="false" selected>未导入</option>
                        </select>
                    </div>
                    <div class="form-group col-6">
                        <label>&nbsp;</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="My" data-type="bool" id="ChkMy" />
                            <label class="form-check-label" for="ChkMy">只看我的</label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <button type="button" class="btn btn-primary" id="BtnSearch">查询</button>
            </div>
        </div>
    </div>
    <hr />
    <div class="repeater">
        <div class="paging">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a href="javascript:void(0)" aria-label="Previous" class="btn-first-page page-link">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a href="javascript:void(0)" aria-label="Next" class="btn-last-page page-link">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div>当前记录：<span class="lbl-current-page-record-start"></span>~<span class="lbl-current-page-record-end"></span>/<span class="lbl-records-count"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页数：<span class="lbl-current-page-number"></span>/<span class="lbl-pages-count"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每页：<span class="lbl-page-size"></span></div>
        <table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" role="grid">
            <thead>
                <tr>
                    <th>店铺</th>
                    <th>JD订单号</th>
                    <th>图片</th>
                    <th>订货日期</th>
                    <th>进货数量</th>
                    <th>SKU及采购备注</th>
                    <th>来快递单号</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody class="repeat-items"></tbody>
        </table>
        <div class="paging">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a href="javascript:void(0)" aria-label="Previous" class="btn-first-page page-link">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a href="javascript:void(0)" aria-label="Next" class="btn-last-page page-link">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

