
@{
    ViewBag.Title = "导入采购订单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="vw-import-order" data-page-js="importcaigouorders" vm-json="">
    @Html.Partial("_Nav")
    <h2>@ViewBag.Title</h2>
    <hr />
    <div>
        <div class="form" validation-group="default" autocomplete="off">
            <fieldset>
                <div class="form-group">
                    <label for="IptExcel">Excel</label>
                    <input type="file" class="form-control-file" id="IptExcel" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                    <span class="validator" id="vdFile" data-required="" data-validate-target="#IptExcel"><span class="error-message text-danger">此项必填</span></span>
                </div>
            </fieldset>
            <div>
                <button type="button" class="btn btn-primary" id="BtnSubmit">上传</button>
            </div>
            <br />
            <a href="~/Templates/采购单导入模板.xlsx">下载模板</a>
            <br />
            <div class="alert alert-info">
                更新数据列为：进货日期，货号，进货数量，店铺，京东订单号，淘宝订单号，采购备注，淘宝账号，快递名称，快递单号，京东价，成本价，采购人
            </div>
            <br />
            <a href="/Order/Import" id="LblMessage" class="alert alert-info hide-when-empty"></a>
        </div>
    </div>
</div>
