@model 客服ListViewModel
@{
    ViewBag.Title = "客服列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    <script id="tmplRow" type="x-tmpl-mustache">
        <tr data-id="{{ID}}" data-high-light="{{高亮}}" data-zicai="{{自采}}" data-xianhuo="{{现货}}" data-zaitudaifa="{{在途待发}}">
            <td>{{店铺名称}}</td>
            <td>
                {{JD订单号}}
                <span class="异常 order-status">异常</span>
                <span class="现货 order-status">现货</span>
                <span class="自采 order-status">自采</span>
                <span class="在途待发 order-status">在途待发</span>
            </td>
            <td>
                <a href="{{商品图片}}" target="_blank">
                    <img src="{{商品图片}}" class="product-thumbnail" />
                </a>
            </td>
            <td>{{Str进货日期}}</td>
            <td>{{进货数量}}</td>
            <td>{{采购备注}}</td>
            <td>{{{Baidu来快递单号}}}</td>
            <td>{{电话备注}}</td>
            <td>
                <a href="/Order/KeFu/{{ID}}" class="btn btn-primary btn-edit" target="_blank">客服</a>
            </td>
        </tr>
    </script>
}

<div class="vw-order-list vw-kefu-list" data-page-js="kefulist" vm-json="@Model.Json">
    @Html.Partial("_Nav")
    <h2>@ViewBag.Title</h2>
    <hr />
    <div class="form" default-button="#BtnSearch">
        <div class="filters">
            <fieldset>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="TxtJD订单号">JD订单号</label>
                        <input type="text" name="JD订单号" class="form-control" id="TxtJD订单号" autocomplete="off" on-enter />
                    </div>
                    <div class="form-group col-6">
                        <label for="Txt货号">货号</label>
                        <input type="text" name="货号" class="form-control" id="Txt货号" autocomplete="off" on-enter />
                    </div>
                    <div class="form-group col-6">
                        <label for="Ddl自采">是否自采</label>
                        <select id="Ddl自采" class="form-control" name="自采" data-type="bool">
                            <option value="" selected>全部</option>
                            <option value="true">自采</option>
                            <option value="false">非自采</option>
                        </select>
                    </div>
                    <div class="form-group col-6">
                        <label for="Ddl异常订单">是否异常订单</label>
                        <select id="Ddl异常订单" class="form-control" name="高亮" data-type="bool">
                            <option value="" selected>全部</option>
                            <option value="true">异常订单</option>
                            <option value="false">非异常订单</option>
                        </select>
                    </div>
                    <div class="form-group col-6">
                        <label for="Ddl在途待发">在途待发</label>
                        <select id="Ddl在途待发" class="form-control" name="在途待发" data-type="bool">
                            <option value="" selected>全部</option>
                            <option value="true">是</option>
                            <option value="false">否</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <button type="button" class="btn btn-primary" id="BtnSearch">查询</button>
            </div>
        </div>
    </div>
    <hr />
    <div class="repeater">
        <div class="paging">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a href="javascript:void(0)" aria-label="Previous" class="btn-first-page page-link">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a href="javascript:void(0)" aria-label="Next" class="btn-last-page page-link">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div>当前记录：<span class="lbl-current-page-record-start"></span>~<span class="lbl-current-page-record-end"></span>/<span class="lbl-records-count"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页数：<span class="lbl-current-page-number"></span>/<span class="lbl-pages-count"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每页：<span class="lbl-page-size"></span></div>
        <table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" role="grid">
            <thead>
                <tr>
                    <th>店铺</th>
                    <th>JD订单号</th>
                    <th>图片</th>
                    <th>订货日期</th>
                    <th>进货数量</th>
                    <th>SKU及采购备注</th>
                    <th>来快递单号</th>
                    <th>电话备注</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody class="repeat-items"></tbody>
        </table>
        <div class="paging">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a href="javascript:void(0)" aria-label="Previous" class="btn-first-page page-link">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a href="javascript:void(0)" aria-label="Next" class="btn-last-page page-link">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
