@model EditOrderViewModel
@{
    ViewBag.Title = "新建采购订单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="vw-new-order vw-order-form" data-page-js="neworder">
    @Html.Partial("_Nav")
    <h2>@ViewBag.Title</h2>
    <div class="form" validation-group="CreateOrder" autocomplete="off">
        <fieldset>
            <div class="row">
                <div class="form-group col-12">
                    <label for="IptPicture">商品图片：</label>
                    <input type="url" name="商品图片" class="id-商品图片 form-control" id="Txt商品图片" />
                    <span class="validator" id="vdPicture" data-required="" data-validate-target="#Txt商品图片"><span class="error-message text-danger">此项必填</span></span>
                    <div>
                        <a class="product-thumbnail-link" target="_blank" style="display: none;">
                            <img class="product-thumbnail" />
                        </a>
                    </div>
                </div>
                <div class="form-group col-6">
                    <label for="TxtJD订单号">JD订单号：</label>
                    <input type="text" class="id-JD订单号 form-control" name="JD订单号" id="TxtJD订单号" maxlength="50" />
                </div>
                <div class="form-group col-6">
                    <label for="Txt货号">货号：</label>
                    <input type="text" class="id-货号 form-control" name="货号" id="Txt货号" maxlength="50" />
                    <span class="validator" id="vd货号" data-required="" data-validate-target="#Txt货号"><span class="error-message text-danger">此项必填</span></span>
                </div>
                <div class="form-group col-6">
                    <label for="Ddl店铺ID">店铺：</label>
                    <input type="text" class="id-店铺 form-control" id="Txt店铺" maxlength="50" name="店铺" />
                </div>
                <div class="form-group col-6">
                    <label for="Txt京东价">京东价：</label>
                    <input type="number" step="0.01" min="0" class="id-京东价 form-control" name="京东价" id="Txt京东价" />
                </div>
                <div class="form-group col-12">
                    <label for="Txt京东价备注">京东价备注：</label>
                    <input type="text" class="id-京东价备注 form-control" name="京东价备注" id="Txt京东价备注" placeholder=" " />
                </div>
                <div class="form-group col-12">
                    <label for="Txt客人地址">客人地址：</label>
                    <input type="text" class="id-客人地址 form-control" name="客人地址" id="Txt客人地址" maxlength="150" />
                </div>
                <div class="form-group col-12">
                    <label for="Txt采购备注">SKU及采购备注：</label>
                    <textarea class="id-采购备注 form-control" name="采购备注" id="Txt采购备注"></textarea>
                </div>
                <div class="form-group col-6">
                    <label for="Ddl淘宝账号ID">淘宝账号：</label>
                    <input type="text" class="id-淘宝账号 form-control" id="Txt淘宝账号" maxlength="50" name="淘宝账号" />
                    <span class="validator" id="vd淘宝账号" data-required="" data-validate-target="#Txt淘宝账号"><span class="error-message text-danger">此项必填</span></span>
                </div>
                <div class="form-group col-6">
                    <label for="Txt淘宝订单号">淘宝订单号：</label>
                    <input type="text" class="id-淘宝订单号 form-control" name="淘宝订单号" id="Txt淘宝订单号" maxlength="50" />
                    <span class="validator" id="vd淘宝订单号" data-required="" data-validate-target="#Txt淘宝订单号"><span class="error-message text-danger">此项必填</span></span>
                </div>
                <div class="form-group col-6">
                    <label for="Txt进货数量">进货数量：</label>
                    <input type="number" class="id-进货数量 form-control" name="进货数量" id="Txt进货数量" min="1" step="1" value="1" />
                    <span class="validator" id="vd进货数量" data-required="" data-validate-target="#Txt进货数量"><span class="error-message text-danger">此项必填</span></span>
                </div>
                <div class="form-group col-6">
                    <label for="Txt成本价">成本价：</label>
                    <input type="number" step="0.01" min="0" class="id-成本价 form-control" name="成本价" id="Txt成本价" />
                    <span class="validator" id="vd成本价" data-required="" data-validate-target="#Txt成本价"><span class="error-message text-danger">此项必填</span></span>
                </div>
                <div class="form-group col-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="高亮" data-type="bool" id="Chk高亮" />
                        <label class="form-check-label" for="Chk高亮">高亮</label>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="BtnSubmit">创建</button>
        </div>
        <div id="LblOrderNumberExists" class="alert alert-danger hide-when-empty"></div>
    </div>
</div>
