@model SurveyViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content page-survey" data-page-js="survey" vm-json="@Model.Json">
    <div id="SubViewSurvey">
        <h2>Index</h2>
    </div>
    <div id="SubViewCompleted">

    </div>
</div>
