body {
    .vw-order-list {
        #LblMessage {
            &:empty {
                display: none;
            }
        }

        .product-thumbnail {
            height: 120px;
        }

        .order-status {
            font-weight: bold;
            display: none;
            margin-left: 5px;
            color: white;

            &.自采 {
                background-color: blue;
            }

            &.异常 {
                background-color: #ffc107;
            }

            &.现货 {
                background-color: darkgreen;
            }

            &.在途待发 {
                background-color: purple;
            }

            &.换货 {
                background-color: brown;
            }
        }

        [data-zicai='true'] {
            .order-status.自采 {
                display: inline-block;
            }
        }

        [data-high-light='true'] {
            .order-status.异常 {
                display: inline-block;
            }
        }

        [data-xianhuo='true'] {
            .order-status.现货 {
                display: inline-block;
            }
        }

        [data-zaitudaifa='true'] {
            .order-status.在途待发 {
                display: inline-block;
            }
        }

        [data-exchange='true'] {
            .order-status.换货 {
                display: inline-block;
            }
        }
    }
}
