body {
    .vw-order-form {
        .product-image,
        .product-thumbnail {
            height: 120px;
        }

        #LblStockInfo {
            min-height: 50px;

            &:empty {
                visibility: hidden;
            }
        }

        .id-京东价备注:not(:placeholder-shown) {
            color: white;
            background-color: #dc3545;
        }
    }
}
