@model UserListViewModel
@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head{
    <script id="tmplRow" type="x-tmpl-mustache">
        <tr data-id="{{ID}}">
            <td>{{Name}}</td>
            <td>{{UserName}}</td>
            <td>{{权限}}</td>
            <td>
                <a href="/User/Edit/{{ID}}" class="btn btn-primary btn-edit" target="_blank">编辑</a>
                <button type="button" class="btn btn-danger btn-delete">删除</button>
            </td>
        </tr>
    </script>
}

<div class="vw-user-list" data-page-js="userlist" vm-json="@Model.Json">
    @Html.Partial("_Nav")
    <h2>@ViewBag.Title</h2>
    <hr />
    <div class="form">
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="BtnSearch">查询</button>
            <a href="/User/New" class="btn btn-primary" target="_blank">创建新用户</a>
        </div>
    </div>
    <hr />
    <div class="repeater">
        <table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline main-table" role="grid">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>用户名</th>
                    <th>权限</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody class="repeat-items"></tbody>
        </table>
    </div>
</div>
