<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.246" newVersion="1.2.0.246" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="top" value="5" />
    <add key="TaobaoQuery" value="&amp;imgfile=&amp;commend=all&amp;search_type=item&amp;sourceId=tb.index&amp;ie=utf8&amp;sort=sale-desc&amp;spm=a21bo.2017.201856-taobao-item.1&amp;ssid=s5-e&amp;initiative_id=tbindexz_20170306"/>
    <add key="TaobaoWait" value="1"/>
    <add key="DianbaWait" value="5"/>
  </appSettings>
</configuration>