@model 拆包审单统计ViewModel
@{
    ViewBag.Title = "今日拆包审单数量";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="vw-tongji vw-tongji-chaibaoshendan" data-page-js="tjchaibao" vm-json="@Model.Json">
    @Html.Partial("_Nav")
    <h2>@ViewBag.Title</h2>
    <hr />
    <div>
        <div class="form">
            <fieldset>
                <div class="row">
                    <div class="form-group col-6">
                        <label>日期：</label>
                        <input type="date" id="TxtDate" name="Date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>
                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-submit">查询</button>
                </div>
            </fieldset>
        </div>
    </div>
    <hr />
    <div>
        <h3>按员工统计：</h3>
        <p class="by-employees"></p>
        <h3>按状态统计：</h3>
        <p class="by-status"></p>
    </div>
</div>

