@model EditShopViewModel
@{
    ViewBag.Title = "新建店铺";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="vw-meta-form vw-new-shop" data-page-js="newshop">
    @Html.Partial("_Nav")
    <h2>@ViewBag.Title</h2>
    <div class="form" validation-group="submit" autocomplete="off">
        <fieldset>
            <div class="row">
                <div class="form-group col-6">
                    <label for="TxtName">店铺名称</label>
                    <input type="text" class="form-control" maxlength="50" name="Name" id="TxtName" autocomplete="off" />
                    <span class="validator" id="vdName" data-required="" data-validate-target="#TxtName"><span class="error-message text-danger">此项必填</span></span>
                </div>
                <div class="form-group col-6">
                    <label for="TxtSN">账号前缀</label>
                    <input type="text" class="form-control" name="Prefix" id="TxtPrefix" autocomplete="off" maxlength="50" />
                    <span class="validator" id="vdPrefix" data-required="" data-validate-target="#TxtPrefix"><span class="error-message text-danger">此项必填</span></span>
                </div>
                <div class="form-group col-6">
                    <label for="Txt京东仓">京东仓</label>
                    <input type="text" class="form-control" name="京东仓" id="Txt京东仓" autocomplete="off" maxlength="50" />
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <button type="button" class="btn btn-primary" id="BtnSubmit">提交</button>
        </div>
    </div>
</div>
