@model SignInViewModel
@{
    ViewBag.Title = "登录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content page-sign-in" data-page-js="signin" vm-json="@Model.Json">
    <form autocomplete="off">
        <fieldset>
            <div class="form-group">
                <label class="" for="TxtMobile">电话</label>
                <input type="text" id="TxtMobile" name="Mobile" class="form-control" maxlength="11" autocomplete="off" />
            </div>
            <div class="form-group">
                <label class="" for="TxtIDNumbers">身份证</label>
                <input type="text" id="TxtIDNumbers" name="IDNumbers" class="form-control" maxlength="18" autocomplete="off" />
            </div>
            <div class="form-group">
                <a>请点击查看相关章程后登录</a>
                <button type="button" id="BtnSubmit" class="btn btn-primary">登录</button>
            </div>
        </fieldset>
    </form>
</div>